# Build artifactsgit rebase --continue
*.dll
*.pdb

# .NET
bin/
obj/

# User-specific files
*.user
*.suo
*.cache
*.log

# VS Code
.vscode/

# macOS
.DS_Store/



Day 1:
     Basic Introduction of Visual Studio 2026 and Installation Process
     

Day 2:
      General Introduction about C# and Exercise to do as a part of assesment and Submit on github repo.


Day 3:
      Publish C# code in folder with two different mode: Self-Contained Mode and Dependent Mode
      

Day 4:
      Developed a web application using ASP.NET Core MVC (Model View Controller)


Day 5:
      Getting Helper & Library files in the project


Day 6:
      Assessment Day

Day 7:
      Developed a Console Application using C# focusing on string handling concepts.
      Performed operations such as trimming spaces, normalizing input, searching keywords, comparing strings, and displaying formatted output as part of the assessment.

Day 8:
      Implemented a Bank Transaction Narration Analyzer using C# Console Application.
      Processed transaction input data, normalized narration text, identified transaction types, categorized transactions based on business rules, and produced structured output using core .NET string methods.




