Day 1:
     Basic Introduction of Visual Studio 2026 and Installation Process
     

Day 2:
      General Introduction about C# and Exercise to do as a part of assesment and Submit on github repo.


Day 3:
      Publish C# code in folder with two different mode: Self-Contained Mode and Dependent Mode
      

Day 4:
      Developed an application using MVC (Model View Controller) module

